.prices {
  text-align: center;
  background-color: var(--body-color);

}

.title__prices {
  margin-bottom: 5rem;
}

.content__prices {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.title__card {
  margin-top: 120px;
}

.card__prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  border-radius: 15px;
  position: relative;
}

.card__prices:hover {
  transform: scale(1.1);
}

.span__price {
  width: 150px;
  height: 150px;
  position: absolute;
  /* border-top-left-radius: 100px; */
  /* border-bottom-right-radius: 990px; */
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.span__price::before {
  content: 'Promoções';
  color: #ffff;
  position: absolute;

  background-color: #b71a3b;
  width: 250px;
  height: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}