.about {
  background-color: var(--body-color);
  padding-bottom: var(--mb-2);
}

.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about__title {
  font-size: var(--big-font-size);

}

.about__subtitle {
  position: relative;
  font-size: var(--h2-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);

}

.about__subtitle::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: var(--title-color-dark);
  left: 0;
  top: 1.2rem;
}

.about__description {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.about__img {
  background: url("../../assets/perfilfeeh.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 297px;
  border-radius: 20px;
  justify-self: center;
}

@media screen and (max-width:768px) {
  .about__container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    column-gap: 2rem;
    padding-top: 3.5rem;
  }

  .about__img {
    width: 200px;
    height: 198px;
  }

  .about__title {
    margin-bottom: var(--mb-0-25);
  }

  .about__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-0-25);
  }

  .about__subtitle::before {
    width: 50px;
    top: 1rem;
  }

  .about__description {
    max-width: initial;
    margin-bottom: var(--mb-0-25);
  }
}